.i p {
    display: inline;
}

.b p {
    display: block;
}

.ib p {
    display: inline-block;
    vertical-align: baseline;
}

.i p,
.b p,
.ib p {
    background-color: pink;
    border:2px solid blue; 
    width: 100px;
    height: 100px;
    margin: 5px;
    padding: 5px;
}



.float {
    background-color: yellow;
    border:2px solid red;
}

.img_1, .img_2, .img_3 {
    border:2px solid blue;
    margin: 10px; 
}

.img_1, .img_2 {
    float: left;
    width: 100px;
    height: 100px;
}
.img_3 {
    float: right;
    width: 200px;
    height: 200px;   
}

.float p {
    /*float: left;*/
    border:2px solid blue;
    background-color: pink;    
    /*clear: left;*/
    /*clear: both;*/
}



.flex p {
    border:2px solid blue; 
    background-color: pink;
    width: 150px; /*超出視窗*/
    height: 100px;
    margin: 10px;
}

.flex {
    display: flex;
    /*flex-wrap: wrap;*/
    flex-direction: column;
}

.grid p {
    border:2px solid blue; 
    background-color: pink;
    width: 100px;
    height: 40px;
    margin: 10px;
}

.grid {
    display: grid;
    width: 300px;
    height: 500px;
    border:2px solid blue; 
    background-color: yellow;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 25% 15% 30%;
}

.grid .area_3 {
    grid-column: span 2;
}

.grid .area_5 {
    grid-row: span 2;
}



.fixed p {
    border:2px solid blue; 
    height: 100px;
}
.fixed img {
    border:2px solid red; 
    background-color: pink;
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 0;
    right: 0;
}
.relative p {
    display: inline-block;
    vertical-align: middle;
    background-color: pink;
    border:2px solid blue;
    width: 150px;
    height: 150px;
    margin: 20px;
}
.relative .offset1 {
    background-color: gray;
    position: relative;
    left: 50px;
    top: 20px;
    z-index: 1; /*層級*/
}
.relative .offset2 {
    background-color: gray;
    position: relative;
    right: 50px;
    z-index: 0; /*層級*/   
}
.absolute p {
    display: inline-block;
    vertical-align: middle;
    background-color: lightyellow;
    border:2px solid blue;
    width: 150px;
    height: 150px;
    margin: 20px;
}
.absolute .abs {
    background-color: gray;
    position: absolute; /*視窗*/
    right: 100px;
    bottom: 100px;
}
.absolute {
    border:2px solid black;
    position: absolute; /*abs父層*/
}
.relative .sticky {
    background-color: lightgreen;
    position: sticky;
    top: 10px;
}

.rwd p {
    border:2px solid blue; 
    background-color: pink;
    width: 150px;
    height: 100px;
    margin: 10px;
}

.rwd {
    display: flex;
}

@media screen and (min-width: 769px) and (max-width: 991px) {
    .rwd p {
        border:2px solid yellow;
    }
    .rwd {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px) {
    .rwd p {
        border:2px solid red;
    }
    .rwd {
        flex-direction: column;
    }
}