{% extends "base.html" %}

{% block title %}
<title>password reset</title>
{% endblock %}

{% block MainHtml %}
{% if form.errors %}
    <!-- clean -->
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger" role="alert">        
            {{ error }}        
        </div> 
    {% endfor %}

    <!-- clean_field -->    
    {% for field in form %}
        <div class="alert alert-dark" role="alert">
            {% for error in field.errors %}
                {{ error }}
            {% endfor %}
        </div>
    {% endfor %}    
{% endif %}

<div class="data_sheet">
    <form method="post">
        {% csrf_token %}
        <h1>password reset</h1>
        <!-- {{ form }} -->
        {{ form.username }}
        {{ form.email }}
        <button type="submit">check</button>                     
    </form>
</div>
{% endblock %}

{% block MainJs %} {% endblock %}