{% extends "base.html" %}

{% block title %}
<title>Info</title>
{% endblock %}

{% block MainHtml %}
<div class="table_structure">
    <table class="normal_table">
        <tbody>
            <!--Travel-->
            <tr>
                <th>id_travel</th>
                <td> {{ info.id_travel }} </td>
            </tr>
            <tr>
                <th>target</th>
                <td> {{ info.target }} </td>
            </tr>
            <tr>
                <th>date</th>
                <td> {{ info.date }} </td>
            </tr>
            <tr>
                <th>time</th>
                <td> {{ info.time }} </td>
            </tr>
            <tr>
                <th>companion</th>
                <td> {{ info.companion }} </td>
            </tr>
            <!--Location-->
            <tr>
                <th>id_location</th>
                <td> {{ info.location }} </td>
            </tr>
            <tr>
                <th>country</th>
                <td> {{ info.location.country }} </td>
            </tr>
            <tr>
                <th>city</th>
                <td> {{ info.location.city }} </td>
            </tr>                
        </tbody>
    </table>
</div>
{% endblock %}

{% block MainJs %} {% endblock %}