.data_sheet {
    width: 80%;
    margin: auto; /*水平置中*/
    margin-top: 100px;
}

.table_padding {
    margin: 10px; /*表格內縮*/
}

table.dataTable {
    vertical-align: middle;
    text-align: center;    
}

.dataTables_wrapper .dataTables_filter {
    margin-bottom: 10px; /*微調上排搜尋列*/
}

.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_paginate {
    margin-top: 5px; /*微調下排頁碼*/
}

thead .min100px {
    min-width: 100px; /*設定表格最小寬度*/
}

.copyright {
    text-align: center;
    font-size: 12px;
    color: #9a9a9a;
    padding-top: 10px;
    padding-bottom: 10px;
}

.fixed img {
    width: 150px;
    height: 150px;
    position: fixed;
    bottom: 0;
    right: 0;
}